---
language: node_js

sudo: false

cache:
  directories:
    - node_modules

install:
  - npm install -g bower
  - npm install
  - bower install

script:
  - npm test

after_success:
  - ember build --environment=production
  - "./bin/s3-publish.js"
  - "./bin/publish_to_shim_repo"

env:
  global:
    - S3_BUCKET_NAME=ember-cpm-builds
    - secure: "XzWXDClclsPkxVhHAETuKPHSxocCpWDIpE12IzNcH6aHVHJTAQs7esUf+iA9cADwm7hSVitoG6AdVbz5cILH+ZvZrQBYe9YUnfIE7oMrmtux11YpIkwJUUWn9xAen8Yd4wG83bSJh5wy4ZexuMtvD92zo4BSG+MPDBeA0gvQC8Y="


